
<div class="container">
    <div class="row">
        <div ng-include="'partials/moreInfo.html'"></div>
        <div class="col-xs-6">
            <div class="item" >
                <div class="well text-center">
                    <h5>Current Conditions</h5>
                    <a href="https://www.wunderground.com/wundermap?lat={{locationLat}}&lon={{locationLon}}&radar=1" target="_blank"><img class="card-img-top pin-image" src="http://api.wunderground.com/api/{{apiKey}}/animatedradar/animatedsatellite/q/{{locationLat}},{{locationLon}}.gif?num=8&delay=50&interval=30" alt="weather radar"></a><br>
                    <a href="https://www.wunderground.com/cgi-bin/findweather/getForecast?query={{locationCity}}%2C+{{locationState}}" target="_blank"><div class="row">
                        <div class="col">
                            <img class="img-thumbnail" src="{{icon}}" alt="{{weather}}">
                            <p>{{weather}}</p>
                        </div>
                        <div class="col">
                            <h2><strong>{{temperature}}</strong> &deg;F</h2>
                            <p>Feels like <strong>{{feelsLikeTemperature}}</strong></p>
                        </div>
                    </div></a><hr>
                    <p>Wind is {{wind}}</p>
                </div>
            </div>
        </div>
    </div>
</div>