<div ng-include="'partials/background.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>A bicycle commuter app</h3>
        </div>
    </div>
    <h5>Enter a destination and we'll make it easier for you to ArriveDry!</h5>
    <div class="input-group">
        <input vs-google-autocomplete vs-autocomplete-validator="vs-street-address" type="text" class="form-control" ng-model="userDestination">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="goToConditions()" ng-disabled="goDisabled()">Go!</button>
        </span>
    </div>
</div>