<div class="col-sm-6" ng-controller="MoreInfoCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Your Destination:</h4>
        </div>
        <div class="panel-body">
            {{userDestination}}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">When Are You Leaving?</h2>
        </div>
            <div id="leave-buttons" class="btn-group-vertical panel-body" role="group" aria-label="">
                <button type="button" class="btn btn-default" ng-click="setDeparture(oneHourButton)">{{oneHourButton}}</button>
                <button type="button" class="btn btn-default" ng-click="setDeparture(twoHourButton)">{{twoHourButton}}</button>
                <button type="button" class="btn btn-default" ng-click="setDeparture(threeHourButton)">{{threeHourButton}}</button>
            </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">When Are You Coming Back?</h2>
        </div>
        <div id="time-picker" class="panel-body" uib-timepicker ng-model="userReturnTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" mousewheel="false">
        </div>
    </div>
    <button id="more-info-button" class="btn btn-secondary" type="button" ng-click="goToReccomendations()" ng-disabled="goDisabled()">Go!</button>
</div>