<div class="col-xs-6" ng-controller="MoreInfoCtrl">
    <h2>When Are You Leaving?</h2>
    <div class="btn-group-vertical" role="group" aria-label="">
        <button type="button" class="btn btn-default" ng-click="setDeparture(nowButton)">{{nowButton}}</button>
        <button type="button" class="btn btn-default" ng-click="setDeparture(oneHourButton)">{{oneHourButton}}</button>
        <button type="button" class="btn btn-default" ng-click="setDeparture(twoHourButton)">{{twoHourButton}}</button>
        <button type="button" class="btn btn-default" ng-click="setDeparture(threeHourButton)">{{threeHourButton}}</button>
    </div>
    <h2>When Are You Coming Back?</h2>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="5:00 PM etc." ng-model="returnTime">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="goToReccomendations()">Go!</button>
        </span>
    </div>
</div>