<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
    <div id="nav-container" class="container-fluid text-center">
        <div class="navbar-header">
            <a class="navbar-brand" ng-click="" ng-href="/">
                <img id="nav-logo" src="/arrivedry/images/ArriveDryLogo.png" alt="arrive-dry">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link" ng-click="goToEssentials()">Commuter Essentials</a>
            </li>
        </ul>
    </div> <!-- /.container-fluid -->
</nav>