<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
    <div id="nav-container" class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-click="" ng-href="/">
                <img id="nav-logo" src="../images/ArriveDryLogo.png" alt="arrive-dry">
            </a>
        </div>
        <!-- <button type="button" id="essentials-button" class="btn btn-outline-primary navbar-right" ng-click="goToEssentials()">Commuter Essentials</button> -->

        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="goToEssentials()">Commuter Essentials</a></li>
        </ul>


    </div> <!-- /.container-fluid -->
</nav>