<div class="col-xs-6">
    <h4>Based on {{startingLocation}}:</h4>
    <a ng-click="showChangeAddress()">Change starting location</a>
    <div class="input-group" ng-show="changeStart">
        <input type="text" class="form-control" placeholder="123 Example Ln. Any Town, ST 45678" ng-model="newStartAddress">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="newStartingLocation()">Go!</button>
        </span>
    </div>

    <h4>For your ride to {{userDestination}} at {{departTimeFull}}</h4>
    <h5>Temperature:<strong> {{departTemperature}}</strong></h5>
    <h5>Forecast:<strong> {{departForecast}}</strong></h5>
    <h5>Wind:<strong> {{departWindDirection}} at {{departWindSpeed}}mph</strong></h5>
    <p>This will be where the recommendations go. For this one it will be what to wear and how many meals to pack. I would also like to include a little more forcast info. such as persipitation chances.</p>


    <h4>For your return ride at {{returnTimeFull}}</h4>
    <h5>Temperature:<strong> {{returnTemperature}}</strong></h5>
    <h5>Forecast:<strong> {{returnForecast}}</strong></h5>
    <h5>Wind:<strong> {{returnWindDirection}} at {{returnWindSpeed}}mph</strong></h5>
    <p>This will be where the recommendations go. For this one it will be if / how they differ from the earlier ride.</p>

</div>
<div class="container" ng-controller="CurrentConditionsCtrl">
    <div class="row">
        <div class="col-xs-6">
            <div class="item" >
                <div class="well text-center">
                    <h5>Current Conditions</h5>
                    <img class="card-img-top pin-image" src="http://api.wunderground.com/api/{{apiKey}}/animatedradar/animatedsatellite/q/{{locationLat}},{{locationLon}}.gif?num=8&delay=50&interval=30" alt="weather radar"><br>
                    <div class="row">
                        <div class="col">
                            <img class="img-thumbnail" src="{{icon}}" alt="{{iconText}}">
                            <p>{{iconText}}</p>
                        </div>
                        <div class="col">
                            <h2><strong>{{temperature}}</strong> &deg;F</h2>
                            <p>Feels like <strong>{{feelsLikeTemperature}}</strong></p>
                        </div>
                    </div><hr>
                    <p>Wind is {{wind}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

